/*Formateo*/
* {
    margin: 0;
    padding: 0;
}
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



/*Encabezado*/
.bg-encabezado{
    background-color: #B23A48;
}
.logo{
    padding-left: 5px 10px;
    height: 70px;
    width: 70px;
    border-radius: 15px;
}

/*Banner*/
.imagen-baner{
    width: 100%;
    height: 300px;
}
.titulo {
    text-align: center;
    color: #8A084B;
    background-image: url("../src/assets/images/rosas2.jpg");
    padding-bottom: 30px;
}

.descripcion{
    text-align: justify;
    color: #8A084B;
    padding: 30px;
    font: oblique bold 120% cursive;
}

/*Body*/
body{
    color: #8A084B;
}
.container{
    padding: 10px;
}
h1{
    text-shadow: 2px 5px 5px;
}
h2{
    color:rgb(207, 66, 137);
    text-align: center;
    background-color: #F5B7B1 ;
    text-shadow: 2px 2px 5px;
}
h2:hover {
    background-color: rgb(95, 240, 245);
}

h3{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(88, 240, 207), 0 0 5px rgb(150, 252, 243);
    background-color: #F5B7B1;
    padding:20px;
}
.texto-cursivo{
    font: oblique bold 120% cursive;
}
p{
    font-family:Arial, Helvetica, sans-serif; 
}


/*Animación a las imágenes de servicios*/
.imagen:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}



/* Colores de los botones de los links y citas */
.boton-link:link, a:visited{
    background-color: white;
    color: #8A084B;
    border: 2px solid rgb(95, 240, 245);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all ease-in-out 1.25s; 
}
.boton-link:hover, a:active {
    background-color: rgb(95, 240, 245);;
    color: rgb(74, 164, 238);
}

  
.boton-link:hover, a:active {
    background-color: rgb(95, 240, 245);;
    color: rgb(74, 164, 238);
    font: oblique bold;
}



/*Curriculum*/
.doctora{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 5px;
    padding: 10px;
}
.texto-curri{
    text-align: justify;
    padding: 20px;
}
.informacion{
    text-align: center;
}
.justificado{
    text-align: justify;
}


/* Servcios*/
.texto-servicios{
    text-align: center;
    
}
.interlinea{
    line-height: 0.3;
}

/*Animación al letrero de promociones*/
.maquina-escribir {
    background:  #F5B7B1 ;
    position: relative;
}
  
.maquina-escribir::after {
    content: "";
    background:  #F5B7B1 ;;
    right: 0;
    height: 100%;
    position: absolute;
    animation: maquinaescribir 2s infinite alternate steps(12);
}
  
@keyframes maquinaescribir {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
}
  



/*Citas*/
.citas{
    text-align: center;
}

/*Formulario de citas*/
.contacto-citas {
    color: #36A0FF;
    
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;

}
.formulario{
    margin-bottom: 20px;
}


/* Pie de pagina*/

footer {
    grid-column: 1/-1;
    background-color: #B23A48;
    color: #ffffff;
}
footer{
    text-align: center;
}
footer nav ul li a {  
    font-family: 'roboto-regular'; 
    color: cornsilk;   
}
.contacto{
    padding-top: 10px;
}
.nav-footer{
    display: inline-block;
    float: none;   
}

nav ul li{
    display: inline-block;
    overflow: hidden;
}
.iconos{
    height: 35px;
    width: 45px;
}
.copy{
    padding-bottom: 10px;
}




